
.main{
    margin-top: 3vh;
    margin-left: 15px;
    margin-bottom: 80px;
}

.c-center{
    margin: 20px auto;
    width: 1000px;
    background-color: white;
    padding: 30px 72px 60px;
}

.c-head{
    display: flex;
    width: 1000px;
    margin: 20px auto;
    justify-content: space-between;
}


.q-title {
    font-size: 16px;
    word-break: break-word;
}
.q-seq {
    display: block;
    margin-right: 8px;
    font-size: 18px;
    float: left;
    margin-top: -5px;
}

.table{
    margin: 20px auto;
}

.question-type{
    color: #888;
    font-size: 16px;
    padding-left: 20px;
}

#demo2{
    width: 80%;
}

#head{
    margin: 0px auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total{
    font-size: 22px;
    color: #444;
    font-weight: bold;
}

.content{
    margin: 20px auto;
}

.sub{
    font-size: 15px;
    color: #999;
    margin-left: 5px;
}

.c-text {
    white-space: pre-wrap;
    padding: 0 10px ;
}

.corret{
    margin-top: 5px;
    color: #409EFF;
    font-size: 14px;
}

.c-answer{
    margin-top: 5px;
    font-size: 14px;
}
