
.main{
    margin-top: 3vh;
    margin-left: 15px;
}

.center{
    margin: 20px auto;
    width: 1000px;
    height: 2000px;
    background-color: white;
    padding: 30px 72px 20px;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
    word-break: break-word;
}

.question-title {
    font-size: 18px;
    word-break: break-word;
}
.question-seq {
    display: block;
    margin-right: 8px;
    font-size: 18px;
    float: left;
}

.table{
    margin-top: 20px;
}
