@font-face {
    font-family: "iconfont";
    /* Project id 2757462 */
    src: url('iconfont.woff2?t=1629426619660') format('woff2'), url('iconfont.woff?t=1629426619660') format('woff'), url('iconfont.ttf?t=1629426619660') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 800%;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wenjuan:before {
    content: "\e636";
}

.icon-dibudaohanglan-:before {
    content: "\e630";
}

.icon-wenjuantoupiao:before {
    content: "\e69a";
}

.icon-wenjuantiaocha:before {
    content: "\e672";
}