.s-main {
    position: relative;
    padding: 80px 72px 20px;
    margin: 40px auto;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  
  .header-title {
    text-align: center;
    font-size: 28px;
    word-break: break-word;
  }
  .header-subtitle {
    margin-top: 40px;
    font-size: 16px;
    word-break: break-word;
    margin-left: 10px;
  }
  .question-head {
    margin-top: 45px;
  }
  .question-title {
    word-break: break-word;
  }

  .question-seq {
    font-weight: bold;
    margin-right: 5px;
    font-size: 18px;
    color: #444;
  }
  .question-required {
    margin-left: 2px;
  }
  .q-instruction{
    color: #999;
    font-size: 14px;
    margin-top: 3px;
    margin-left: 24px;
  }
  .question-body {
    padding-top: 10px;
  }
  
  .question-required {
    background-size: 100%;
    vertical-align: -2px;
    margin-right: 4px;
    color: rgba(218, 35, 25, 1);
  }
  .el-radio,
  .el-checkbox,
  .el-rate {
    display: block;
    margin-top: 5px;
  }
.page-control {
    text-align: center;
    padding: 50px 0;
}

.el-tag {
    padding: 0px 3px;
    height: 25px;
    line-height: 25px;
    font-size: 80%;
}

.sel-total {
    padding: 0 10px;
    color: #feae3a;
}
.el-progress{
  width: 600px;
}
.el-checkbox__label {
  word-break: normal;
  white-space:normal;
  line-height: 24px;
  text-overflow: ellipsis;
}

.el-checkbox, .el-checkbox__input {
  white-space: normal;
  word-break: break-all;
}
.el-checkbox__label {
  display: inline;
}

.el-checkbox.is-disabled.is-checked .el-checkbox__inner {
  color: #FFFFFF;
  background-color: #1890ff;
  border-color: #1890ff;
}

.el-radio.is-disabled.is-checked .el-radio__inner {
  color: #FFFFFF;
  background-color: #1890ff;
  border-color: #1890ff;
}

.el-radio__label {
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 24px;
}


.loc{
  margin-bottom: 20px;
}




 
