@font-face {
  font-family: "iconfont"; /* Project id 2773950 */
  src: url('iconfont.woff2?t=1630057966453') format('woff2'),
       url('iconfont.woff?t=1630057966453') format('woff'),
       url('iconfont.ttf?t=1630057966453') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 800%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jingqingqidai:before {
  content: "\e652";
}

.icon-daka:before {
  content: "\e6e2";
}

